<div data-ng-controller="usersManagementController as vm">
	<div ng-show="vm.showSearch">
		<form class="form-horizontal row" role="form">
			<div class="form-body">
				<div class="portlet light bordered">
					<div class="portlet-title background-title">
						<div class="caption">
							<span class="caption-subject bold lowercase" translate>Thông
								tin tìm kiếm</span>
						</div>
						<div class="text-right margin-row-title">
							<i data-toggle="collapse" data-target="#demousersManagement"
								class="fa fa-chevron-circle-up" aria-hidden="true"></i>
						</div>
					</div>
					<div id="demousersManagement" class="collapse in from-search">
						<div class="clearfix">
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate>Tên đăng
									nhập</label>
								<div class="col-md-8">
									<input class=" form-control width100" type="text" autofocus
										ng-model="vm.usersManagementSearch.userName" />
								</div>
							</div>
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate>Tên đầy
									đủ</label>
								<div class="col-md-8">
									<input class=" form-control width100" type="text"
										ng-model="vm.usersManagementSearch.fullName" />
								</div>
							</div>
						</div>
						<div class="clearfix">
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate>Số điện
									thoại</label>
								<div class="col-md-8">
									<input class=" form-control width100" type="text"
										ng-model="vm.usersManagementSearch.teFax" />
								</div>
							</div>

							<auto-search model-label="Phòng ban" caller="vm"
								header-template="vm.headerTemplate" template-auto="vm.template"
								page="1" page-size="20" popup-type="grid"
								combo-id="usermanagement_search_dept"
								combo-source-link="deptServiceRest/dept/getDeptForAutoComplete"
								combo-name="deptName" combo-value="deptId" combo-code="code"
								combo-search="vm.commonSearch"
								model-id="vm.usersManagementSearch.deptId"
								model-name="vm.usersManagementSearch.deptName"> </auto-search>
						</div>
						<div class="clearfix">
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate>Trạng
									thái</label>
								<div class="col-md-8">
									<select kendo-drop-down-list="applySelect" class="form-control"
										k-options="vm.statusSelectOptions"
										id="usermanagement_search_status" style="width: 100%"
										name="usermanagement_search_status"
										ng-model="vm.usersManagementSearch.status">
									</select>
								</div>

							</div>
						</div>
						<div class="clearfix form-actions margin-top">
							<div class="row">
								<div class="col-md-12 text-center">
									<button type="button" id="findParam" ng-click="vm.doSearch()"
										class="btn btn-qlk padding-search-right searchQLK" translate>Tìm
										kiếm</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="portlet light bordered">
		<div class="portlet-title background-title">
			<div class="caption">
				<span class="caption-subject bold lowercase" translate>Kết
					quả tìm kiếm : </span>&nbsp;<label class="control-label bold lowercase"
					ng-bind="vm.count"></label><label
					class="control-label bold lowercase">&nbsp;Bản ghi </label>
			</div>
			<div class="text-right margin-row-title">
				<i data-toggle="collapse" data-target="#demousersManagementGrid"
					class="fa fa-chevron-circle-up" aria-hidden="true"></i>

			</div>
		</div>
		<div id="demousersManagementGrid" class="collapse in ">
			<div class=" margin_top_button"></div>
			<div id="usersManagementGrid" kendo-grid="vm.usersManagementGrid"
				k-editable="false" k-options="vm.gridOptions"
				k-on-change="vm.onGridChange(kendoEvent, { selected: selected }, data)">
			</div>
		</div>
	</div>
</div>