<div data-ng-controller="rolesManagementController as vm">
	<div ng-show="vm.showSearch">
		<form class="form-horizontal row" 
		data-role="validator" role="form" k-options="validatorOptions"
		kendo-validator="validator" id="rolesManagement" name="rolesManagement">
			<div class="form-body">

				<div class="portlet light bordered">
					<div class="portlet-title background-title">
						<div class="caption">
							<span class="caption-subject bold lowercase" translate>Thông
								tin tìm kiếm</span>
						</div>
						<div class="text-right margin-row-title">
							<i data-toggle="collapse" data-target="#demorolesManagement"
								class="fa fa-chevron-circle-up" aria-hidden="true"></i>
						</div>
					</div>
					<div id="demorolesManagement" class="collapse in from-search">
						<div class="clearfix">
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate>Mã nhóm
									quyền</label>
								<div class="col-md-8">
									<input maxlength="100" class=" form-control width100" searchbox
									name="roleCode" type="text" autofocus id="role-Code"
										ng-model="vm.rolesManagementSearch.roleCode"
										 pattern="^(?!.*(%))^.{0,225}$" 
										 title="Dữ liệu nhập phải nhỏ hơn 225 ký tự và không gồm kí tự %"/>
										<span id="val1"></span>
								</div>
							</div>
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate>Tên nhóm
									quyền</label>
								<div class="col-md-8">
									<input maxlength="100" class=" form-control width100" type="text"
										 name="roleName" id="role-Name"
										ng-model="vm.rolesManagementSearch.roleName" 
										pattern="^(?!.*(%))^.{0,225}$" 
										title="Dữ liệu nhập phải nhỏ hơn 225 ký tự và không gồm kí tự %"/>
										<span id="val2"></span>
								</div>
							</div>
						</div>
						<div class="clearfix">
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate>Mô tả</label>
								<div class="col-md-8">
									<textarea maxlength="1000"  form="searchForm" cols="40" rows="3"
										searchbox id="-description"
										name="description" class="form-control width100"
										ng-model="vm.rolesManagementSearch.description"
										 pattern="^(?!.*(%))^.{0,225}$" 
										  title="Dữ liệu nhập phải nhỏ hơn 225 ký tự và không gồm kí tự %"
										></textarea>
										<span id="val3"></span>
								</div>
							</div>

							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate>Trạng
									thái</label>
								<div class="col-md-8">
									<select kendo-drop-down-list="applySelect" class="form-control"
										k-options="vm.statusSelectOptions"
										id="usermanagement_search_status" style="width: 100%"
										name="usermanagement_search_status"
										ng-model="vm.rolesManagementSearch.status">
									</select>
								</div>

							</div>
						</div>
						<div class="clearfix form-actions margin-top">
							<div class="row">
								<div class="col-md-12 text-center">
									<button type="button" id="findParam" ng-click="vm.doSearch()"
										class="btn btn-qlk padding-search-right searchQLK" translate>Tìm
										kiếm</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="portlet light bordered">
		<div class="portlet-title background-title">
			<div class="caption">
				<span class="caption-subject bold lowercase" translate>Kết
					quả tìm kiếm: </span>&nbsp;<label class="control-label bold lowercase"
					ng-bind="vm.count"></label><label
					class="control-label bold lowercase">&nbsp;bản ghi</label>
			</div>
			<div class="text-right margin-row-title">
				<i data-toggle="collapse" data-target="#demorolesManagementGrid"
					class="fa fa-chevron-circle-up" aria-hidden="true"></i>

			</div>
		</div>
		<div id="demorolesManagementGrid" class="collapse in ">
			<div class=" margin_top_button"></div>
			<div id="rolesManagementGrid" kendo-grid="vm.rolesManagementGrid"
				k-editable="false" k-options="vm.gridOptions"
				k-on-change="vm.onGridChange(kendoEvent, { selected: selected }, data)">
			</div>
		</div>
	</div>
</div>