<div>
    <form action="" class="form-horizontal row" role="form" name="objectsManagement" id="objectsManagement"></form>

    <div class="form-body">
        <div style="font-size:2rem" class="portlet light caption clearfix">
            <p></p>
            <span class="caption-subject bold lowercase ng-scope"> Tên nhóm quyền : </span>
            <span ng-bind="caller.rolesManagementCreate.roleName"></span>

        </div>
        <div class="portlet light clearfix">
            <div class="portlet-title col-md-12">
                <div class="caption col-md-4">
                    <span class="caption-subject bold lowercase ng-scope">Danh sách chức năng đã được gán cho nhóm
                        quyền</span>

                </div>
                <div class="form-group col-md-6">
                    <label class="col-md-4 control-label" translate>Bổ sung chức năng</label>
                    <div class="col-md-8 margin_top">
                        <input kendo-auto-complete k-options="caller.objectsOptions" id="usermanagement_roles"
                            header-template="caller.headerTemplateStock" ng-model="caller.objectSearch.name"
                            class="form-control width100" name="name" />
                    </div>
                </div>

            </div>
        </div>
        <div>

        </div>

    </div>
    <div id="actionPopupGridRoles" kendo-grid="caller.actionPopupGrid" k-editable="false"
        k-options="caller.actionPopupGridOptions"></div>


    <div class="clearfix">
        <div class="portlet light" align="right">
            <button type="button" class="btn btn-qlk padding-search-right saveQLK" ng-click=" caller.insertObjectData()"
                translate>Ghi
                lại</button>
            <button type="button" class="btn btn-qlk padding-search-right closeQLK" id="cancel" ng-click="cancel()"
                translate>Hủy bỏ</button>

        </div>
    </div>
    </form>


</div>