<form class="form-horizontal row" role="form" name="rolesManagement" id="rolesManagement" kendo-validator="validator"
    k-options="validatorOptions">
    <p></p>
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject bold lowercase" translate>
                Thông tin chung
            </span>
        </div>
    </div>
    <div class="portlet light bordered">
        <p></p>
        <div class="clearfix">
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label req" translate>Mã nhóm quyền</label>
                <div class="col-md-8">
                    <input maxlength="100" type="text" class="form-control width100" required
                        data-required-msg="Mã nhóm quyền không được để trống" ng-disabled="!caller.isCreateNew"
                        id="create_roleCode" name="create_roleCode" special-character-code
                        ng-model="caller.rolesManagementCreate.roleCode" />
                    <span data-for="create_roleCode" class="k-invalid-msg"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="" class="col-md-4 control-label req" translate>Tên nhóm quyền</label>
                <div class="col-md-8">
                    <input maxlength="100" type="text" class="form-control width100" required
                        data-required-msg="Tên nhóm quyền không được để trống" 
                       special-character id="create_roleName"
                        name="create_roleName" ng-model="caller.rolesManagementCreate.roleName" />
                    <span data-for="create_roleName" class="k-invalid-msg"></span>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="form-group col-md-6">
                <label for="" class="col-md-4 control-label" translate>Mô tả</label>
                <div class="col-md-8">
                    <textarea special-character maxlength="1000" class="form-control width100" name="create_description" id="create_description" cols="10"
                        rows="4" ng-model="caller.rolesManagementCreate.description"></textarea>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="" class="col-md-4 control-label req" translate>Trạng thái</label>
                <div class="col-md-8">
                    <select kendo-drop-down-list name="create_status" k-options="caller.statusSelectOptions"
                        id="create_status" required ng-model="caller.rolesManagementCreate.status"
                        data-required-msg="Trạng thái không được để trống" style="width: 100%"
                        class="form-control"></select>
                    <span data-for="create_status" class="k-invalid-msg"></span>
                </div>
            </div>

        </div>
    </div>
    <div class="clearfix">
        <div class="portlet light" align="right">
            <button type="button" class="btn btn-qlk padding-search-right saveQLK" ng-click="save()" translate>Ghi
                lại</button>
            <button type="button" class="btn btn-qlk padding-search-right closeQLK" id="cancel" ng-click="vm.cancel();caller.cancel();cancel()"
                translate>Hủy bỏ</button>

        </div>
    </div>
</form>